<h2 mat-dialog-title>Edit Task</h2>

<form [formGroup]="form" class="edit-task-form">
<mat-form-field appearance="fill" class="readonly-field">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" readonly>
    <mat-hint>Title cannot be changed</mat-hint>
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <input type="text" matInput formControlName="description" maxlength="500" required>
    <mat-hint>maximum 500 characters</mat-hint>
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label> Assign to</mat-label>
    <mat-select formControlName="assignedTo" required>
        <mat-option *ngIf="isLoadingUsers" disabled>
            Loading users...
        </mat-option>
        <mat-option *ngFor="let user of users" [value]="user.userID">
            {{user.userName}} ({{user.email}})
        </mat-option>
        <mat-hint *ngIf="isLoadingUsers">Loading available users...</mat-hint>
    </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Priority</mat-label>
    <mat-select formControlName="priorityID" required>
        <mat-option *ngIf="isLoadingPriorities" disabled>
            Loading priorities...
        </mat-option>
        <mat-option *ngFor="let priority of priorities" [value]="priority.priorityID">
            {{priority.priorityName}}
        </mat-option>
        <mat-hint *ngIf="isLoadingPriorities">Loading available priorities...</mat-hint>
    </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Status</mat-label>
    <mat-select formControlName="statusID" required>
        <mat-option *ngIf="isLoadingStatuses" disabled>
            Loading statuses...
        </mat-option>
        <mat-option *ngFor="let status of statuses" [value]="status.statusID">
            {{status.statusName}}
        </mat-option>
        <mat-hint *ngIf="isLoadingStatuses">Loading available statuses...</mat-hint>
    </mat-select>
</mat-form-field>

<div class="form-buttons">
    <button mat-raised-button style="background-color: rgb(228, 21, 21);" (click)="onCancel()">Cancel</button>
    <button mat-raised-button style="background-color: rgb(21, 228, 31);" type="submit" (click)="onSave()" [disabled]="form.invalid">Save</button>
</div>




</form>
